*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    height: 3000px;
    position: relative;
}

.bg-blue{
    background-color: rgba(221, 235, 245, 1);
}
.navbar{
    display: inline-block;
}
.fixed-top{ 
    top: 25vh;
    right: unset;
    .logo{
        .logo-img{
            width: 6vw;
        min-width: 80px;
        }
    }
    
    .navbar-toggler{
        .navbar-toggler-icon {
            background-image: url("/img/logo.png");
            width: 6vw;
            height: 16vw;
        }
    }
    .navbar-nav {
        display: inline-block;
        margin: 10px auto;
    }
    .nav-link{
        font-size: 15pt;
    }     
}

#banner{
    .swiper-container {
        width: 100%;
        height: 70vh;
        .swiper-slide{
            background-repeat: no-repeat;
        }
    }
}
 
#story{
    margin-top: 135px;
    .row{
        .text{
            background-color: rgb(161 , 182, 194);
            padding: 5vw 6vw;
            font-size: 15pt;
            justify-content: flex-start;
        }
    }
}

#message{
        margin-top: 135px;
        font-size: 20pt;
        .container{
            position: relative;
            .mb85{
                margin-bottom: 85px;
            }
            .line{
                padding: 0;
            }
            .text-center{
                line-height: 88px;
            }
            .announcement{
                background-color: rgb(221 , 235 , 245);
                .calendar{
                    margin-top: 5%;
                    height: 90%;
                    align-items: center;
                    justify-content: center;
                }
            .d-flex{
                flex-direction: column;
                justify-content: space-between;
                img{
                    width: 70px;
                    height: 60px;
                }
                .aircraft{
                    position: absolute;
                    left: -45px;
                }
                .smoke-img{
                    margin-left: 10px;
                }
                .row{
                    margin:20px 0 20px 30px; 
                }
                .text{
                    line-height: 60px;
                }
            }
            }
        }
}

#product{
    margin-top: 135px;
    .container-fluid{
        .mb85{
            margin-bottom: 85px;
        }
        .text-center{
            line-height: 88px;
            font-size: 20pt;
        }
            .eat{
                background-image: url("./img/menu-1920-cake-07.png");
                background-size: cover;
                background-position: center;
                height: 50vh;
            }
            .drink{
                background-image: url("./img/menu-1920-drink-07.png");
                background-size: cover;
                background-position: center;
            }
    }
}

#connection{
    margin-top: 135px;
    .container{
        .mb85{
            margin-bottom: 85px;
        }
        .text-center{
            line-height: 88px;
            font-size: 20pt;
        }
        .icon{
            font-size: 15pt;
            .icon-top{
                padding:0 0 20px 0;
                .ig, .fb, .map{
                    width: 300px;
                    background-color: rgb(243, 247, 250); 
                    line-height: 50px;
                    padding: 20px 0;
                }
            }
            img{
                width: 50px;
                height: 50px;;
            }
        }
        .link-img{
            img{
                height: 50vh;
                width: 300px;
            }
        }
    }  
}
#recommend{
    margin-top: 135px;
    .mb85{
        margin-bottom: 85px;
    }
    .container{
        .text-center{
            line-height: 88px;
            font-size: 20pt;
        }
    }
    .link-img{
        img{
            width: 300px;
            height: 50vh;
        }
    }
}

footer{
    background-color: rgb(243, 247, 250);
    font-size: 18pt;
    padding: 50px 0;
    img{
        width: 50px;
        height: 50px;;
    }
    .text{
        line-height: 50px;   
    }
}

@media (max-width: 768px){
    .fixed-top{
        .logo-img{
            display: none;
        }
        .nav-link{
            font-size: 13pt;
        }
    }

    #banner{
        .swiper-container{
            width: 100%;
            height: 50vh;
        }
        
    }






}
