* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: hidden;
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(/img/logo_L.png), url(//img/logo_T.png), url(/img/logo_B.png);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:hover {
  color: black;
}

a:visited {
  color: black;
}

#move {
  height: 100vh;
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 9999;
  opacity: 1;
  position: fixed;
  top: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

#move .logo-s {
  height: 32vw;
  width: 16vw;
}

#move .logo-s .logo-L, #move .logo-s .logo-R, #move .logo-s .logo-B {
  margin-left: calc(42vw);
  opacity: 0;
}

#move .logo-s .logo-B {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.bg-blue {
  background-color: rgba(221, 235, 245, 0.6);
}

.fixed-top {
  top: 25vh;
  right: unset;
  display: inline-block;
}

.fixed-top .logo .logo-img {
  width: 6vw;
  min-width: 80px;
}

.fixed-top .navbar-toggler .navbar-toggler-icon {
  background-image: url("/img/logo.png");
  width: 6vw;
  height: 16vw;
}

.fixed-top .navbar-nav {
  display: inline-block;
  margin: 10px auto;
}

.fixed-top .nav-link {
  font-size: 15pt;
}

#banner .swiper-container {
  width: 100%;
  height: 70vh;
}

#banner .swiper-container .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner .swiper-container .img1 {
  background-image: url("/img/1920-1.jpg");
}

#banner .swiper-container .img2 {
  background-image: url("/img/1920-2.png");
}

#banner .swiper-container .img3 {
  background-image: url("/img/1920-3.png");
}

#banner .swiper-container .img4 {
  background-image: url("/img/1920-4.png");
}

#banner .swiper-container .img5 {
  background-image: url("/img/1920-5.png");
}

#story {
  margin-top: 135px;
}

#story .row .text {
  background-color: #a1b6c2;
  padding: 150px;
  font-size: 15pt;
}

#story .row .story_img {
  background-image: url("/img/story-1920.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#story .swiper-container {
  width: 100%;
  height: 100%;
}

#story .swiper-container .text {
  background-color: #a1b6c2;
  font-size: 15pt;
  height: 400px;
  padding: 80px 20px;
}

#story .swiper-container .story_img {
  background-image: url("/img/story-576.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

#message {
  margin-top: 135px;
  font-size: 20pt;
}

#message .container {
  position: relative;
}

#message .container .mb85 {
  margin-bottom: 85px;
}

#message .container .marquee {
  background-color: #f3f7fa;
  height: 96px;
}

#message .container .marquee .swiper-container {
  width: 100%;
  height: 100%;
}

#message .container .marquee .swiper-container .aircraft {
  width: 88px;
}

#message .container .marquee .swiper-container .marquee_img {
  width: 30px;
  height: 30px;
}

#message .container .marquee .swiper-container .text {
  letter-spacing: 5px;
}

#message .container .line {
  padding: 0;
}

#message .container .announcement {
  background-color: #ddebf5;
}

#message .container .announcement .calendar {
  margin: 30px 0 30px 30px;
  height: 350px;
  width: 300px;
}

#message .container .announcement .d-sm-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#message .container .announcement .d-sm-flex img {
  width: 70px;
  height: 60px;
}

#message .container .announcement .d-sm-flex .aircraft {
  position: absolute;
  left: -35px;
}

#message .container .announcement .d-sm-flex .smoke-img {
  margin-left: 10px;
}

#message .container .announcement .d-sm-flex .row {
  margin: 20px 0 20px 30px;
}

#message .container .announcement .d-sm-flex .text {
  letter-spacing: 20px;
  height: 60px;
}

#product {
  margin-top: 135px;
  font-size: 20pt;
}

#product .container .mb85 {
  margin-bottom: 85px;
}

#product .container .eat {
  background-image: url("./img/menu-1920-cake-07.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#product .container .drink {
  background-image: url("./img/menu-1920-drink-07.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#connection {
  margin-top: 135px;
  font-size: 20pt;
}

#connection .container .mb85 {
  margin-bottom: 85px;
}

#connection .container .icon {
  font-size: 15pt;
}

#connection .container .icon .icon-top .phone, #connection .container .icon .icon-top .ig, #connection .container .icon .icon-top .fb, #connection .container .icon .icon-top .clock, #connection .container .icon .icon-top .map {
  width: 300px;
  background-color: #f3f7fa;
  line-height: 50px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#connection .container .icon img {
  width: 50px;
  height: 50px;
}

#connection .container .link-img img {
  height: 50vh;
  width: 300px;
}

#recommend {
  margin-top: 135px;
  font-size: 20pt;
}

#recommend .mb85 {
  margin-bottom: 85px;
}

#recommend .link-img img {
  width: 300px;
  height: 50vh;
}

#recommend .swiper-container {
  width: 300px;
  height: 100%;
}

footer {
  background-color: #f3f7fa;
  font-size: 18pt;
  padding: 50px 0;
}

footer img {
  width: 50px;
  height: 50px;
}

footer .text {
  line-height: 50px;
}

@media (max-width: 1200px) {
  .fixed-top .logo-img {
    display: none;
  }
  .fixed-top .nav-link {
    font-size: 13pt;
  }
}

@media (max-width: 576px) {
  #move .logo-s {
    height: 64vw;
    width: 32vw;
  }
  #move .logo-s .logo-L, #move .logo-s .logo-R, #move .logo-s .logo-B {
    margin-left: 34vw;
    opacity: 0;
  }
  .bg-blue {
    background-color: rgba(221, 235, 245, 0.8);
  }
  #banner .swiper-container {
    width: 100%;
    height: 50vh;
  }
  #banner .swiper-container .img1 {
    background-image: url("/img/576-1.png");
  }
  #banner .swiper-container .img2 {
    background-image: url("/img/576-2.png");
  }
  #banner .swiper-container .img3 {
    background-image: url("/img/576-3.png");
  }
  #banner .swiper-container .img4 {
    background-image: url("/img/576-4.png");
  }
  #banner .swiper-container .img5 {
    background-image: url("/img/576-5.png");
  }
  #story {
    margin-top: 0;
  }
  #story .row .swiper_story {
    background-color: #a1b6c2;
    padding: 50px;
    font-size: 12pt;
  }
  #message {
    margin-top: 0;
    font-size: 15pt;
  }
  #message .container .mb85 {
    margin-bottom: 0px;
  }
  #message .container .my10 {
    margin: 10px 0;
  }
  #message .container .announcement {
    background-color: unset;
  }
  #message .container .announcement .calendar {
    height: 350px;
    margin: auto;
    width: auto;
  }
  #product {
    margin-top: 0;
    font-size: 15pt;
  }
  #product .container .mb85 {
    margin-bottom: 0px;
  }
  #product .container .my10 {
    margin: 10px 0;
  }
  #product .container .eat {
    height: 33vh;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-image: url("/img/menu-576-cake.png");
  }
  #product .container .drink {
    height: 33vh;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px;
    background-image: url("/img/menu-576-drink.png");
  }
  #connection {
    margin-top: 0;
    font-size: 15pt;
  }
  #connection .container .mb85 {
    margin-bottom: 0px;
  }
  #connection .container .my10 {
    margin: 10px 0;
  }
  #connection .container .dnone {
    display: none;
  }
  #recommend {
    margin-top: 0;
    font-size: 15pt;
  }
  #recommend .container .mb85 {
    margin-bottom: 0px;
  }
  #recommend .container .my10 {
    margin: 10px 0;
  }
  #recommend .container .dnone {
    display: none;
  }
  footer {
    font-size: 13pt;
    padding: 5px 0;
  }
}

@media (max-width: 321px) {
  #story .row .swiper_story {
    padding: 20px;
    font-size: 10pt;
  }
  #message {
    font-size: 10pt;
  }
  #product {
    font-size: 10pt;
  }
  #connection {
    font-size: 10pt;
  }
  #recommend {
    font-size: 10pt;
  }
}
/*# sourceMappingURL=index.css.map */