$mt-135:135px;
$mt-0:0;
$mb-85:85px;
$mb-0:0px;
$my-10:10px;
$f-size20:20pt;
$f-size15:15pt;
$f-size10:10pt;

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

a{
    color:black;
}
a:hover {
    color:black;
}
a:visited {
    color:black;
}

#move{
    height: 100vh;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: 9999;
    opacity: 1;
    position: fixed;
    transition: 2s;
    top: 0;
    .logo-s{
        height: 32vw;
        width: 16vw;
        .logo-L, .logo-R, .logo-B{
            margin: calc(50vh - 16vw) 0 0 0;
            opacity: 0;
        }
    }

}


.bg-blue{
    background-color: rgba(221, 235, 245, 0.6);
}

.navbar{
    display: inline-block;
}

.fixed-top{ 
    top: 25vh;
    right: unset;
    .logo{
        .logo-img{
            width: 6vw;
            min-width: 80px;
        }
    }
    
    .navbar-toggler{
        .navbar-toggler-icon {
            background-image: url("/img/logo.png");
            width: 6vw;
            height: 16vw;
        }
    }
    .navbar-nav {
        display: inline-block;
        margin: 10px auto;
    }
    .nav-link{
        font-size: 15pt;
    }     
}

#banner{
    .swiper-container{
        width: 100%;
        height: 70vh;
        .swiper-slide{
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .img1{
            background-image: url("/img/banner-1920-1.png");
        }
        .img2{
            background-image: url("/img/banner-1920-2.png");
        }
        .img3{
            background-image: url("/img/banner-1920-3.png");
        }
        .img4{
            background-image: url("/img/banner-1920-4.png");
        }
        .img5{
            background-image: url("/img/banner-1920-5.png");
        }
        .img6{
            background-image: url("/img/banner-1920-6.png");
        }
    }
}
 
#story{
    margin-top: $mt-135;
    .row{
        .text{
            background-color: rgb(161 , 182, 194);
            padding:150px;
            font-size: 15pt;
        }
        .story_img{
            background-image: url("/img/story-1920.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
           
        }
    }
    .swiper-container{
        width: 100%;
        height: 100%;
        .text{
            background-color: rgb(161 , 182, 194);
            font-size: 15pt;
            height: 400px;
            padding: 80px 20px;
        }
        .story_img{
            background-image: url("/img/story-576.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 400px;
        }
    }
}

#message{
        margin-top: $mt-135;
        font-size: $f-size20;
        .container{
            position: relative;
            .mb85{
                margin-bottom: $mb-85;
            }
            .marquee{
                background-color: rgb(243, 247, 250);
                height: 96px;
                .swiper-container{
                    width: 100%;
                    height: 100%;
                    .aircraft{
                        width: 88px;
                    }
                    .marquee_img{
                        width: 30px;
                        height: 30px;
                    }
                    .text{
                        letter-spacing: 5px;
                    }
                  }
            }
            .line{
                padding: 0;
            }
            .announcement{
                background-color: rgb(221 , 235 , 245);
                .calendar{
                    margin: 30px 0 30px 30px;
                    height: 350px;
                    width: 300px; 
                }
            .d-sm-flex{
                flex-direction: column;
                justify-content: space-between;
                img{
                    width: 70px;
                    height: 60px;
                }
                .aircraft{
                    position: absolute;
                    left: -35px;
                }
                .smoke-img{
                    margin-left: 10px;
                }
                .row{
                    margin:20px 0 20px 30px; 
                }
                .text{
                    letter-spacing: 20px;
                    height: 60px;
                }
            }
            }
        }
}

#product{
    margin-top: $mt-135;
    font-size: $f-size20;
    .container{
        .mb85{
            margin-bottom: $mb-85;
        }
            .eat{
                background-image: url("./img/menu-1920-cake-07.png");
                background-size: cover;
                background-position: center;
                height: 50vh;
            }
            .drink{
                background-image: url("./img/menu-1920-drink-07.png");
                background-size: cover;
                background-position: center;
                height: 50vh;
            }
    }
}

#connection{
    margin-top: $mt-135;
    font-size: $f-size20;
    .container{
        .mb85{
            margin-bottom: 85px;
        }
        .icon{
            font-size: 15pt;
            .icon-top{
                .phone, .ig, .fb, .clock, .map{
                    width: 300px;
                    background-color: rgb(243, 247, 250); 
                    line-height: 50px;
                    padding: 20px 0;
                    display: flex;
                }
            }
            img{
                width: 50px;
                height: 50px;;
            }
        }
        .link-img{
            img{
                height: 50vh;
                width: 300px;
            }
        }
    }  
}

#recommend{
    margin-top: $mt-135;
    font-size: $f-size20;
    .mb85{
        margin-bottom: $mb-85;
    }
    .link-img{
        img{
            width: 300px;
            height: 50vh;
        }
    }
    .swiper-container{
        width: 300px;
        height: 100%;
    }
}

footer{
    background-color: rgb(243, 247, 250);
    font-size: 18pt;
    padding: 50px 0;
    img{
        width: 50px;
        height: 50px;;
    }
    .text{
        line-height: 50px;   
    }
}



@media (max-width: 1200px){
    .fixed-top{
        .logo-img{
            display: none;
        }
        .nav-link{
            font-size: 13pt;
        }
    }
}

@media (max-width: 576px){
    #move{
        .logo-s{
            height: 64vw;
            width: 32vw;
            .logo-L, .logo-R, .logo-B{
                margin-top: calc(50vh - 32vw);
                opacity: 0;
            }
        }
    
    }

    .bg-blue{
        background-color: rgba(221, 235, 245, 0.8);
    }
    #banner{
        .swiper-container{
            width: 100%;
            height: 50vh;
            .img1{
                background-image: url("/img/banner-576-1.png");
            }
            .img2{
                background-image: url("/img/banner-576-2.png");
            }
            .img3{
                background-image: url("/img/banner-576-3.png");
            }
            .img4{
                background-image: url("/img/banner-576-4.png");
            }
            .img5{
                background-image: url("/img/banner-576-5.png");
            }
            .img6{
                background-image: url("/img/banner-576-6.png");
            }
        }
    }
    #story{
        margin-top: 0;     
        .row{
            .swiper_story{
                background-color: rgb(161 , 182, 194);
                padding:50px;
                font-size:12pt;
            }
            
        }
    }
    #message{
        margin-top: $mt-0;
        font-size: $f-size15;
        .container{
            .mb85{
                margin-bottom: $mb-0;
            }
            .my10{
                margin: $my-10 0;
            }
            .announcement{
                background-color: unset;
                .calendar{
                    width: 100%;
                    height: 226px;
                    margin: auto;
                    max-width: 325px;
                }
            }
        }
    }
    #product{
        margin-top: $mt-0;
        font-size: $f-size15;
        .container{
            .mb85{
                margin-bottom: $mb-0;
            }
            .my10{
                margin: $my-10 0;
            }
            .eat{
                height: 33vh;
                order: 2;
                background-image: url("/img/menu-576-cake.png");
            }
            .drink{
                height: 33vh;
                order: 1;
                margin-bottom: 10px;
                background-image: url("/img/menu-576-drink.png");
            }
        }
    }
    #connection{
        margin-top: $mt-0; 
        font-size: $f-size15;
        .container{
            .mb85{
                margin-bottom: $mb-0;
            }
            .my10{
                margin: $my-10 0;
            }
            .dnone{
                display: none;
            }
        }
    }
    #recommend{
        margin-top: $mt-0; 
        font-size: $f-size15;
        .container{
            .mb85{
                margin-bottom: $mb-0;
            }
            .my10{
                margin: $my-10 0;
            }
            .dnone{
                display: none;
            }
        }
    }
    footer{
        font-size: 13pt;
        padding: 5px 0;
    }
}

@media (max-width: 321px){
    #story{  
        .row{
            .swiper_story{
                padding:20px;
                font-size:$f-size10;
            } 
        }
    }
    #message{
        font-size: $f-size10;
    }
    #product{
        font-size: $f-size10;
    }
    #connection{
        font-size: $f-size10;
    }
    #recommend{
        font-size: $f-size10;
    }
}