* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 3000px;
  position: relative;
}

.bg-blue {
  background-color: #ddebf5;
}

.navbar {
  display: inline-block;
}

.fixed-top {
  top: 25vh;
  right: unset;
}

.fixed-top .logo .logo-img {
  width: 6vw;
  min-width: 80px;
}

.fixed-top .navbar-toggler .navbar-toggler-icon {
  background-image: url("/img/logo.png");
  width: 6vw;
  height: 16vw;
}

.fixed-top .navbar-nav {
  display: inline-block;
  margin: 10px auto;
}

.fixed-top .nav-link {
  font-size: 15pt;
}

#banner .swiper-container {
  width: 100%;
  height: 70vh;
}

#banner .swiper-container .swiper-slide {
  background-repeat: no-repeat;
}

#story {
  margin-top: 135px;
}

#story .row .text {
  background-color: #a1b6c2;
  padding: 5vw 6vw;
  font-size: 15pt;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#message {
  margin-top: 135px;
  font-size: 20pt;
}

#message .container {
  position: relative;
}

#message .container .mb85 {
  margin-bottom: 85px;
}

#message .container .line {
  padding: 0;
}

#message .container .text-center {
  line-height: 88px;
}

#message .container .announcement {
  background-color: #ddebf5;
}

#message .container .announcement .calendar {
  margin-top: 5%;
  height: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#message .container .announcement .d-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#message .container .announcement .d-flex img {
  width: 70px;
  height: 60px;
}

#message .container .announcement .d-flex .aircraft {
  position: absolute;
  left: -45px;
}

#message .container .announcement .d-flex .smoke-img {
  margin-left: 10px;
}

#message .container .announcement .d-flex .row {
  margin: 20px 0 20px 30px;
}

#message .container .announcement .d-flex .text {
  line-height: 60px;
}

#product {
  margin-top: 135px;
}

#product .container .mb85 {
  margin-bottom: 85px;
}

#product .container .text-center {
  line-height: 88px;
  font-size: 20pt;
}

#product .container .eat {
  background-image: url("./img/menu-1920-cake-07.png");
  background-size: cover;
  background-position: center;
  height: 50vh;
}

#product .container .drink {
  background-image: url("./img/menu-1920-drink-07.png");
  background-size: cover;
  background-position: center;
}

#connection {
  margin-top: 135px;
}

#connection .container .mb85 {
  margin-bottom: 85px;
}

#connection .container .text-center {
  line-height: 88px;
  font-size: 20pt;
}

#connection .container .icon {
  font-size: 15pt;
}

#connection .container .icon .icon-top {
  padding: 0 0 20px 0;
}

#connection .container .icon .icon-top .ig, #connection .container .icon .icon-top .fb, #connection .container .icon .icon-top .map {
  width: 300px;
  background-color: #f3f7fa;
  line-height: 50px;
  padding: 20px 0;
}

#connection .container .icon img {
  width: 50px;
  height: 50px;
}

#connection .container .link-img img {
  height: 50vh;
  width: 300px;
}

#recommend {
  margin-top: 135px;
}

#recommend .mb85 {
  margin-bottom: 85px;
}

#recommend .container .text-center {
  line-height: 88px;
  font-size: 20pt;
}

#recommend .link-img img {
  width: 300px;
  height: 50vh;
}

footer {
  background-color: #f3f7fa;
  font-size: 18pt;
  padding: 50px 0;
}

footer img {
  width: 50px;
  height: 50px;
}

footer .text {
  line-height: 50px;
}

@media (max-width: 768px) {
  .fixed-top .logo-img {
    display: none;
  }
  .fixed-top .nav-link {
    font-size: 13pt;
  }
  #banner .swiper-container {
    width: 100%;
    height: 50vh;
  }
}
/*# sourceMappingURL=index.css.map */